@font-face {
  font-family: "Jomolhari";
  src: url("../fonts/Jomolhari-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CMU Demi";
  src: url("../fonts/cmunssdc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.auth-page {
  width: 100vw;
  height: 100vh;
  background-image: url("../bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
}

.auth-header {
  font-size: 3.5rem;
  font-family: "Jomolhari";
  letter-spacing: 0.15rem;
  text-align: center;
  padding-top: 10px;
}

.header-underline {
  width: min(1000px, calc(100% - 40px));
  height: 2px;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 1px;
  margin-top: -10px;
}
.auth-main {
  flex: 1; /* занимает всё свободное пространство */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "CMU Demi";
}
.auth-form {
  width: min(700px, calc(100% - 40px));
  min-height: 525px;
  background: rgba(181, 181, 181, 0.2), rgba(67, 40, 24, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  box-shadow: 0 8px 32px rgba(255, 230, 167, 0.4);
  text-align: center;
  color: white;
  border: 2px solid rgba(255, 230, 167, 0.6);
}

.auth-form h1 {
  font-size: 2.9rem;
  margin: 0 0 8px 0;
  font-weight: 600;
  margin-top: 30px;
}

.auth-form .subtitle {
  font-size: 1.8rem;
  opacity: 0.7;
}

.input-field {
  width: 82%;
  height: 75px;
  padding: 14px 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 37.5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.25rem;
  transition: border-color 0.3s ease;
  outline: none;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-field:focus {
  border-color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
}

.password-row {
  width: 82%;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  margin-top: 20px;
}
.password-row .input-field {
  flex: 1;
  margin-top: 0;
}
.register-link {
  font-size: 1.2rem;
  margin: 15px 0 25px;
  text-align: left;
  width: 82%;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.register-link p {
  opacity: 0.8;
}
.register-link .link-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-left: 5px;
}

.register-link .link-button span {
  text-decoration: none;
}

.register-link .link-button:hover span {
  text-decoration: underline;
}

.login-button {
  width: 82%;
  height: 75px;
  padding: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgba(153, 88, 42, 0.85);
  border: 2px solid rgba(255, 230, 167, 0.2);
  border-radius: 37.5px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: rgb(153, 88, 42);
}
